@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.page-header {
  display: grid;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 449px;
}

.navigation-user {
  max-width: 308px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index-background-image {
  background-color: #94989c;
  background-image: url("../images/index/index-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 485px;
  display: block;
  text-align: center;
  padding-top: 51px;
  position: relative;
  padding-bottom: 57px;
}

.main-index-background-image::after {
  content: "";
  background-image: url("../images/index/index-background-bottom.svg");
  display: block;
  width: 100%;
  height: 57px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-title-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  padding: 20px 0;

}

.title-description {
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: calc(100%/3);
  min-height: 384px;
  background-color: #82B3D3;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-white {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-description-white {
  color: #ffffff;
}

.advantages-item-lighter-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue {
  background-color:rgba(131, 179, 211, 0.2);
  }

.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.service-item {
  margin: 0;
  padding: 0;
  width: calc(100%/3);
  min-height: 384px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.service-item.house {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item.souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
  background-color: #ffffff;
  padding: 20px 0;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
}

.searching-link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription {
  background-image: url(../images/search-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  padding: 20px 0;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  width: 404px;
}

.subsription-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.field {
  background-color: #f2f2f2;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.footer-social {
  width: 142px;
  margin-right: 42px;
  padding-left:  82px;
  background-color: #ffffff;
}

.footer-phone-number {
  text-align: center;
  background-color: #ffffff;
  padding: 20px 0;
  width: 331px;
}

.footer-logo {
  max-width: 115px;
  background-color: #ffffff;
  padding: 20px 0;
  margin-right: 70px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#000000;
}

.catalog-header-background {
  display: block;
  background-image: url("../images/catalog/catalog-bg.jpg");
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 412px;
  margin-bottom: 57px;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  color: #ffffff;
}

.breadcrumbs-link {
  color: #ffffff;
}

.catalog-products {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.reset {
  color:#ffffff;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.main-search {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.main-search-title {
  margin: 0;
}

.main-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 338px;
  margin-left: 70px;
}

.sorting-container {
  color: #333333;
  background-color: #ffffff;
  width: 292px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 90px;
  margin-right: 70px;
}

.product-card-link {
text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color:#000000;
}

.product-card-item {
  color: #333333;
}

.product-card-price {
  color: #333333;
}

.product-card-more-info-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-rating {
  color: #333333;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  width: 400px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.subscription-catalog {
  width: 1200px;
  height: 415px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 20px 0;
}


























