@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.page-header {
  display: grid;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 550px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin-right: 70px;
  max-width: 400px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-button {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index-background-image {
  background-color: #94989c;
  background-image: url("../images/index/index-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 485px;
  display: block;
  text-align: center;
  padding-top: 51px;
  position: relative;
  padding-bottom: 57px;
}

.main-index-background-image::after {
  content: "";
  background-image: url("../images/index/index-background-bottom.svg");
  display: block;
  width: 100%;
  height: 57px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-title-text {
  padding-top: 69px;
  padding-bottom: 90px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  padding: 20px 0;

}

.main-title {
margin-bottom: 25px;
}

.title-description {
  font-weight: 400;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-item {
  padding-top: 92px;
  padding-bottom: 111px;
  width: calc(100%/3);
  background-color: #82B3D3;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title-white {
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
}

.advantages-title {
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-white {
  color: #ffffff;
}

.advantages-item-lighter-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue {
  background-color:rgba(131, 179, 211, 0.2);
  }

.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.service-item {
  padding-top: 103px;
  padding-bottom: 121px;
  width: calc(100%/3);
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.service-item.house {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item.souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  background-color: #ffffff;
}

.search-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
}

.search-description {
  margin-bottom: 54px;
  margin-left: 304px;
  width: 592px;
  font-size: 22px;
  line-height: 26px;

}

.searching-link {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription {
  padding-top: 196px;
  padding-bottom: 104px;
  background-image: url(../images/search-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  width: 404px;
}

.subsription-description {
  margin-bottom: 54px;
  margin-left: 362px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
}

.field {
  background-color: #f2f2f2;
}

.newsletter-button {
  padding: 8px 50px;
}

.page-footer-container {
  display: flex;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.footer-social {
  width: 300px;
  margin-right: 42px;
  padding-left:  82px;
  background-color: #ffffff;
}

.footer-social-item {
  list-style-type: none;
}

.button-social {
  display: inline-block;
  width: 47px;
  height: 40px;
}

.footer-phone-number {
  padding-top: 45px;
  padding-bottom: 35px;
  text-align: center;
  background-color: #ffffff;
  padding: 20px 0;
  width: 331px;
}

.footer-logo {
  max-width: 115px;
  background-color: #ffffff;
  padding: 20px 0;
  margin-right: 70px;
  margin-left: 235px;
}


.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#000000;
}

.catalog-header-background {
  display: block;
  background-image: url("../images/catalog/catalog-bg.jpg");
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 412px;
  margin-bottom: 57px;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  color: #ffffff;
}

.breadcrumbs-link {
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
}

.box-price {
  width: 288px;
}

.button-apply {
  width: 191px;
  height: 36px;
}

.reset {
  width: 191px;
  height: 36px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.reset {
  color:#ffffff;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.main-search {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.sorting-area {
  display: flex;
}

.main-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 338px;
  margin-left: 70px;
}

.sorting-container {
  color: #333333;
  background-color: #ffffff;
  width: 292px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 20px;
}

.product-card-link {
text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color:#000000;
}

.product-card-item {
  color: #333333;
}

.product-card-price {
  color: #333333;
}

.product-card-more-info-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-rating {
  color: #333333;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  width: 400px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.subscription-catalog {
  width: 1200px;
  height: 415px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 20px 0;
}


























