@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #68A2CA;
}

.button:focus,
.button:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.navigation-user-button {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus,
.button-brown:focus-visible {
  background-color: #615048;
  outline: none;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-brown:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.button-green {
  padding: 8px 18px;
  color: #ffffff;
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus,
.button-green:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-green:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 550px;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin-right: 70px;
  padding: 0;
  max-width: 400px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-link {
  position: relative;
  padding: 8px 8px;
  min-width: 20px;
  min-height: 20px;
  text-decoration: none;
}

.number {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  right: 0;
  width: 20px;
  height: 20px;
  padding-top: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index-background-image {
  background-color: #94989c;
  background-image: url("../images/index/index-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 485px;
  display: block;
  text-align: center;
  padding-top: 51px;
  position: relative;
  padding-bottom: 57px;
}

.main-index-background-image::after {
  content: "";
  background-image: url("../images/index/index-background-bottom.svg");
  display: block;
  width: 100%;
  height: 57px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;

}

.main-title-text {
  padding: 69px 275px 90px 274px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.title-description {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-item {
  padding: 92px 85px 111px 85px;
  box-sizing: border-box;
  width: calc(100%/3);
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-item::before {
  order: 2;
  content: "";
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3)
}

.advantages-title {
  order: 1;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  align-items: center;
}

.advantages-description {
  order: 3;
  margin: 0;
}

.advantages-image-wrapper {
  display: flex;
}

.advantages-item-lighter-blue {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-lighter-blue::before {
  order: 2;
  content: "";
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)
}

.advantages-item-light-blue {
  color: #000000;
  background-color:rgba(131, 179, 211, 0.2);
  }

.advantages-item-light-blue::before {
  order: 2;
  content: "";
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)
}

.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.service-item {
  padding: 80px 85px 81px 85px;
  box-sizing: border-box;
  width: calc(100%/3);
  min-height: 384px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item-house::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("..//images/service/service-home-image.svg");
  background-repeat: no-repeat;
}

.service-item-food::before {
  content: "";
  width: 74px;
  height: 70px;
  background-image: url("..//images/service/service-food-image.svg");
  background-repeat: no-repeat;
}

.service-item-souvenir::before {
  content: "";
  width: 64px;
  height: 76px;
  background-image: url("..//images/service/service-gift-image.svg");
  background-repeat: no-repeat;
}

.service-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-description {
  margin: 0;
}

.service-item.service-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item.service-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  padding: 96px 304px;
  text-align: center;
  background-color: #ffffff;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.searching-link {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.subscription {
  padding: 96px 258px 104px 258px;
  background-image: url(../images/search-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.subsription-description {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.field {
  background-color: #f2f2f2;
}

.newsletter-button {
  padding: 8px 50px;
  border-radius: 4px;
}

.page-footer-container {
  padding: 40px 70px 30px 70px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  align-items: center;
}

.footer-social {
  width: 300px;
  margin-right: 42px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 8px;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  text-align: center;
}

.social-icon {
  fill:#83B3D3;
}

.social-icon:hover {
fill: #68A2CA;
}

.social-icon:focus {
  fill: #68A2CA;
  }

.social-icon:active {
    fill: rgba(104, 162, 202, 0.3);
    }

.footer-phone-number {
  background-color: #ffffff;
  width: 431px;
}

.phone-number:hover {
  color: #756157;
}

.phone-number:focus {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: flex;
  max-width: 115px;
  background-color: #ffffff;
  padding: 20px 0;
  margin-left: auto;
}

.footer-logo-icon {
  fill: #000
}

.footer-logo-icon:hover {
  fill: #756157
}

.footer-logo-icon:focus {
  fill: #756157
}

.footer-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#000000;
}

.catalog-header-background {
  padding: 35px 70px 70px 70px;
  display: block;
  background-image: url("../images/catalog/catalog-bg.jpg");
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 412px;
  margin-bottom: 0;
}

.catalog-header {
  margin: 0;
  margin-bottom: 40px;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  padding: 0;
  padding-right: 100px;
  margin: 0;
  display: flex;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url("..//images/breadcrumps/breadcrumbs-arrow.svg");
  position: absolute;
  top: 6px;
  right: 10px;
  width: 7px;
  height: 10px;
}

.breadcrumbs-link {
  margin-right: 27px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
}

.catalog-filter-item {
  list-style-type: none;
}

.infrastructure {
  width: 151px;
  margin-right: 40px;
}

.type-of-living {
  width: 151px;
  margin-right: 140px;
}

.box-price {
  margin-right: 70px;
  width: 288px;
}

.box-price-buttons {
  display: inline-block;
}

.button-apply {
  margin-bottom: 30px;
  width: 191px;
  height: 36px;
}

.reset {
  width: 191px;
  height: 36px;
  color:#ffffff;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.reset:focus {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #83B3D3;
}

.reset:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.reset:disabled {
  background-color: transparent;
  color: #ffffff;
  opacity: 0.1;
}

.main-search {
  display: flex;
  padding: 50px 70px 60px 70px;
  margin: 0;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.main-search-title {
  margin: 0;
  margin-bottom: 47px;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 338px;
}

.sorting-area {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.sorting-container {
  color: #333333;
  background-color: #ffffff;
}

.sorting-area {
  min-width: 1060px;
}

.sorting-container {
  margin-right: auto;
}

.select-control {
  width: 292px;
  height: 49px;
}

.cards-view {
  display: flex;
  flex-wrap: wrap;
  min-width: 160px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle-active {
  border: 2px solid #000000;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-link {
  display: flex;
  text-decoration: none;
}

.product-card-image {
  object-fit: contain;
  grid-column: 1 / -1;
  margin: 0;
}

.product-card-title-link {
  grid-column: 1 / -1;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color:#000000;
}

.product-card-item {
  grid-column: 1 / 2;
  margin: 0;
  color: #333333;
}

.product-card-price {
  grid-column: 2 / 3;
  margin: 0;
  color: #333333;
  margin-left: auto;
}

.product-card-more-info-button {
  grid-column: 1 / 2;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-favorites {
  grid-column: 2 / 3;
  padding: 8px 20px;
}

.rating {
  display: flex;
  grid-column: 1 / 2;
}

.arrow-image:not(:last-child) {
  margin-right: 6px;
}

.button-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 2 / 3;
  margin: 0;
  width: 140px;
  height: 37px;
  color: #333333;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
  color: #ffffff;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  border: none;
}

.subscription-catalog {
  padding: 96px 258px 104px 258px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}




























